html {
    font-family: system-ui;
  }
  .hero {
    background: url(img/serenidad.png) center;
    background-size: cover;
    height: 100vh;
  }
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  h1{
    color: brown;
  }
  p{
    color: brown;
  }